* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #bde0fe;
  --main-font-color: #023047;
  --table-header-color: #ffafcc;
  --button-color: #cdb4db;
  --button-hover-color: #c2a3d3;
  --header-background: #a2d2ff;
  --white-color: white;
  --black-color: black;
  --grey-color: #ddd;
  --light-grey-color: #f2f2f2;
  --header-font: "Bebas Neue", sans-serif;
  --main-font: "Noto Sans", sans-serif;
  --font-size-xs: 14px;
  --font-size-s: 20px;
  --font-size-xxl: 64px;
}
