* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #bde0fe;
  --main-font-color: #023047;
  --table-header-color: #ffafcc;
  --button-color: #cdb4db;
  --button-hover-color: #c2a3d3;
  --header-background: #a2d2ff;
  --white-color: white;
  --black-color: black;
  --grey-color: #ddd;
  --light-grey-color: #f2f2f2;
  --header-font: "Bebas Neue", sans-serif;
  --main-font: "Noto Sans", sans-serif;
  --font-size-xxs: 12px;
  --font-size-xs: 14px;
  --font-size-s: 20px;
  --font-size-m: 24px;
  --font-size-l: 26px;
  --font-size-xl: 36px;
  --font-size-xxl: 64px;
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
}
